@import '../bs4/node_modules/bootstrap/scss/bootstrap';

$colors: (
  gold-main: #ffc062,
  gold-light: #ffd9a0,
  background: #ffefd8,
  grey-light: #cecece,
  grey-dark: #858585,
  black-light: #303030,
  black-dark: #171717
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

#mapa {
  background-color: color(background);

  .row {
    padding-top: 50px;
    text-align: center;

    @include media-breakpoint-up(lg) {
      padding-top: 70px;
    }

    //KDE NÁS NAJDETE
    h2 {
      font-family: 'Montserrat';
      font-size: 30px;
      font-weight: 800;

      @include media-breakpoint-up(lg) {
        font-size: 50px;
      }
    }

    //ICON
    img {
      width: 70px;
      margin-bottom: 5px;
    }

    //UNDERLINE
    .line {
      display: block;
      width: 111px;
      height: 7px;
      background: #ffc062;
      margin: 0 auto;
    }

    //MAP
    #map {
      margin-top: 20px;
      height: 400px;
    }
  }
}

//outer info box
.gm-style-iw-c {
  padding: 15px !important;
  background: color(black-dark) !important;

  button {
    opacity: 1;

    img {
      object-position: -99999px 99999px;
      background: url('../img/icons/close.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 10px 0px 0 0 !important;
    }
  }

  //inner info box
  .gm-style-iw-d {
    overflow: visible !important;

    //address
    .bi {
      margin: 0;
      color: color(gold-main);
    }

    //ICON
    .beer {
      width: 50px !important;
      margin: 5px 0 5px 0 !important;
    }

    //Těšíme se na vás
    p:last-child {
      color: color(gold-main);
      font-weight: 500;
    }
  }
}

//pointer down
.gm-style-iw-t::after {
  background: black !important;
}

//INFO Google maps
.info-box {
  font-family: 'Montserrat';
  //U Míšků
  img {
    width: 150px !important;
    height: 60px;
    margin: 0 !important;
  }

  //Address
  p {
    color: white;
    font-weight: 500;
  }
}

.gm-style {
  div img[src='img/icons/map-pointer.svg'] {
    transition: transform 0.3s ease-in;
    transform: scale(0.8);
  }

  div:hover img[src='img/icons/map-pointer.svg'] {
    transform: scale(1);
  }
}
