@import "../bs4/node_modules/bootstrap/scss/bootstrap";

$colors: (
  gold-main: #FFC062,
  gold-light: #FFD9A0,
  background: #FFEFD8,
  grey-light: #CECECE,
  grey-dark: #858585,
  black-light: #303030,
  black-dark: #171717
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

#mapa {
  .row {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;

    @include media-breakpoint-up(lg) {
    padding-top: 70px;
    margin-bottom: 100px;
    }

    //KDE NÁS NAJDETE
      h2 {
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 800;

        @include media-breakpoint-up(lg) {
        font-size: 50px;
        }
      }

    //ICON
      img {
        width: 70px;
        margin-bottom: 5px;
      }

    //UNDERLINE
      .line {
        display: block;
        width: 111px;
        height: 7px;
        background: #FFC062;
        margin: 0 auto;
      }

    //MAP
      #map {
        margin-top: 20px;
        height: 400px;
      }
  }
}
